In [2]:
#                                                              ques - 1

In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(course_name,duration)
df

                  0
2      Data Science
3  Machine Learning
6          Big Data
4     Data Engineer

In [4]:
#                                                             ques - 2

In [5]:
""" The loc() function is label based data selecting method which means that we have to pass the name of the row or column which 
    we want to select. 
    The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method 
    to select a specific row/column. 
    
"""

' The loc() function is label based data selecting method which means that we have to pass the name of the row or column which \n    we want to select. \n    The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method \n    to select a specific row/column. \n    \n'

In [6]:
#                                                             ques - 3

In [7]:
df = pd.DataFrame({'Course_name':['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer'],'duration':[2,3,6,4]})
reindex = [3,0,1,2]
new_df = df.reindex(reindex)
new_df

        Course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [8]:
new_df.loc[2]

Course_name    Big Data
duration              6
Name: 2, dtype: object

In [9]:
new_df.iloc[2]

Course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [10]:
""" Yes there is difference between both the functions output as first one(.loc()) gives the output as Big data because
    .loc() function gives the output on the basis of name and as per name index 2 is of Big Data. but in case of 
    .iloc() function , it gives the output as Machine learning because as per the original index no 2 is of machine learning
    only we have reindexed the data that's why it's output is Machine Learning.
"""

" Yes there is difference between both the functions output as first one(.loc()) gives the output as Big data because\n    .loc() function gives the output on the basis of name and as per name index 2 is of Big Data. but in case of \n    .iloc() function , it gives the output as Machine learning because as per the original index no 2 is of machine learning\n    only we have reindexed the data that's why it's output is Machine Learning.\n"

In [11]:
#                                                            ques - 4

In [12]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.652575  0.229715  0.242551  0.639446  0.483401  0.785339
2  0.674291  0.854879  0.460667  0.459245  0.518110  0.275127
3  0.565787  0.965516  0.710331  0.575024  0.739532  0.263252
4  0.525086  0.694533  0.653276  0.194321  0.015271  0.438693
5  0.591894  0.073833  0.716365  0.085866  0.990997  0.558496
6  0.498234  0.394868  0.169523  0.775773  0.996144  0.714176

In [13]:
df1.mean()

column_1    0.584644
column_2    0.535557
column_3    0.492119
column_4    0.454946
column_5    0.623909
column_6    0.505847
dtype: float64

In [14]:
df1['column_2'].std()

0.3573869247357518

In [15]:
#                                                            ques - 5

In [16]:
df1.loc[df1['column_2'][2] == '53.6225']

KeyError: 'False: boolean label can not be used without a boolean index'

In [ ]:
""" the output of this code is generating an error as -"false : boolean label can not be used without a  boolean index" -
    this error is appearing because booean indexing takes index as True or False but in this case the index of the DataFrame
    is integer so this error is generating.
"""

In [ ]:
#                                                             ques - 6

In [ ]:
""" The window functions in Pandas are used to perform some sort of calculations across a set of rows that are interrelated
    with the current row.
    1. Rolling window
    2. Weighted window
    3. Expanding window
    4. Exponentially Weighted window
"""

In [ ]:
#                                                             ques - 7

In [ ]:
datetime = pd.DataFrame({'date':['2023-10-30']})

In [ ]:
datetime['updated_time'] = pd.to_datetime(datetime['date'])

In [ ]:
datetime

In [ ]:
datetime['month'] = datetime['updated_time'].dt.month

In [ ]:
datetime

In [ ]:
datetime['year'] = datetime['updated_time'].dt.year

In [ ]:
datetime

In [ ]:
#                                                            ques - 8

In [ ]:
from datetime import date, datetime
print("enter both the dates : ")
date1 = date(2023,10,20)
date2 = date(2023,10,30)

def datediffer(date1,date2):
    return(date2-date1).days

print(pd.Timedelta(datediffer(date1,date2)))

In [ ]:
#                                                           ques - 9

In [ ]:
file_path = input("enter the file path : ")
column_name = input("enter the column name : ")
categorical_order = input("enter the categorical order : ")  
categorical_files = pd.read_csv("file_path")
new_df = pd.DataFrame(categorical_files,dtypes = "category")
categorical_files[column_name] = new_df.sort_values(by = [categorical_order])